<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a *ngFor="let team of iplTeams" href="#" class="list-group-item list-group-item-action">
                <div class="row" (click)="displayTeamList(team.code)">
                    <div class="col-md-3">
                        <img [src]="team.logoPath" width="60px;" height="60px;" alt="team.code">
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <h5>{{team.code}}</h5>
                        </div>
                        <div class="row">
                            {{team.name}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <app-players-list></app-players-list>
    </div>
</div>